<header>
  <h1>{{title}}</h1>
  <nav>
    <ul>
      <li><a [routerLink]="['/']">Home</a></li>
      <li><a [routerLink]="['/directory']">Directory</a></li>
      <li><a [routerLink]="['/ninjalist']">Ninja List</a></li>
      <li><a [routerLink]="['/httpservice']">Http Service</a></li>
    </ul>
  </nav>
</header>
<section id="main">
  <!-- <app-home [ninja]="ninja"
            (sendEvent)="sendEventHandler($event)"
            (sendNoParamEvent)="sendNoParamEventHandler()">Loading...</app-home> -->
  <router-outlet></router-outlet>
</section>
