<h2> Ninja Listing - day {{day | date: 'shortDate'}}</h2>

<form id="filter">
  <label>Filter ninjas by name: </label>
  <!-- si no usas [ngModelOptions]="{standalone: true}" hay que rellenar el atributo name -->
  <!-- <input type="text" [(ngModel)]="term" [ngModelOptions]="{standalone: true}"  /> -->
  <input type="text" [(ngModel)]="term" name="filterField"  />
</form>

<ul id="ninja-listing">
  <li *ngFor="let ninjawarrior of ninjawarriorlist | filter:term">
    <div class="single-ninja">
      <!-- Belt Colour -->
      <span [ngStyle]="{background: ninjawarrior.belt}">{{ ninjawarrior.belt }} belt</span>
      <!-- Ninja name -->
      <h3>{{ ninjawarrior.name }}</h3>
    </div>
  </li>
</ul>

<h2>Month list</h2>
<ul id="monthListing">
  <li *ngFor="let imonth of value"> {{ imonth }} </li>
</ul>
<h2>Car information</h2>
<p>Make: {{ object.make }}</p>
<p>Model: {{ object.model }}</p>
<p>License plate: {{ object.license_plate }}</p>

<button (click)="logIt()">Log me</button>
<p>{{ reply }}</p>
